<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/pong_me">
    <hr>
    당신의 이름은 <input type="text" name='My_name' placeholder="이름 입력">
    <hr>
    <input type="button" onclick="alert('웃기지말고 계속해!')" value="귀찮아안할래!">
    <hr>
    성별 <br>
    <input type="radio" name="gender" value="남자"> 남자 <br>
    <input type="radio" name="gender" value="여자"> 여자
    <hr>
    이번주 야자 하실래요? 하루만 고를 수 있어요...<br>
    <input type="radio" name="date" value="월요일">월요일 <br>
    <input type="radio" name="date" value="화요일">화요일 <br>
    <input type="radio" name="date" value="수요일">수요일 <br>
    <input type="radio" name="date" value="목요일">목요일 <br>
    <input type="radio" name="date" value="금요일">금요일 <br>
    <input type="radio" name="date" value="안합니다">절대 안합니다. <br>
    
    <hr>
    <input type="submit" value="전송!">

    <!-- <input type="date" name="" id="">
    <hr> -->
    </form>
</body>
</html>